extends ../../layout/base

block main
    section#intro
        .splash
            h2 Einführung in HTML
            p Allgemeine Regeln der HTML-Programmierung
    #presentation.full-width.row
        iframe(src='/pik7/presenter.html',seamless='',data-presentation='03_rules')