extends ../../layout/presentations

block title
    title Geschichte der Auszeichnungsprachen

block content
    .pikSlide
        h2 Markup Languages (ML)
        ul
            li SGML (1974, Goldfarb)
            li HTML
            li XML
            li XHTML
    .pikSlide
        h2 HTML
        ul
            li 1.0, 1991, Sir Tim Berners-Lee
            li 2.0, 1995, IETF
            li 3.2, 1997, W3C
            li 4.0.1, 1997-2001, W3C
    .pikSlide
        h2 XHTML
        ul
            li 1.0, 2000, W3C
            li 1.1, 2001, W3C
            li 2.0, nur Working Draft, abgebrochen 2009
    .pikSlide
        h2 HTML5
        p
            | Die WHATWG (gegründet von Mozilla, Apple, Opera - später Google) formierte sich
            | 2004 als Gegenentwurf zur W3C, um die Entwicklung von HTML weiter zu treiben.
            | Sie formulierte eine eigene Spezifikation HTML (vorher HTML5) für die nächste
            | Version als lebendiges Dokument -&nbsp;
            a(href='http://www.whatwg.org/specs/web-apps/current-work/') Living Standard.
        p
            | W3C beginnt ab 2008 die Entwicklung von HTML5, veröffentlicht einen ersten Working Draft, und
            | geht von einer Spezifikation im Jahre 2014 aus. Dabei übernimmt sie die Hauptbestandteile der WHATWG.