extends ../../layout/base

block title
    title HTML5 - HTML Schulung

block main
    section#intro
        .splash
            h2 HTML5
            p
                | Neuerungen! Aber nicht nur HTML - denn der Begriff HTML5 ist ein Sammelbecken
                | für alle Änderungen/Verbesserungen/Neuerungen am kompletten Frontend-Stack.
    #presentation.full-width.row
        iframe(src='/pik7/presenter.html',seamless='',data-presentation='13_html5')