extends ../../layout/presentations

block title
    title Einführung in HTML

block content
    #Start.pikSlide
        h2 Aufbau eines HTML-Dokumentes
    .pikSlide
        h2 Überblick über die Doctypes