extends ../../layout/presentations

block title
    title Einführung in HTML

block content
    #Start.pikSlide
        h1 Aufbau eines HTML-Dokumentes
    .pikSlide
        h1 Überblick über die Doctypes