extends ../../layout/presentations

block title
    title Einführung in HTML

block content
    .pikSlide
        h2 Aufbau eines HTML-Dokumentes
        pre
            | &lt;!DOCTYPE html&gt;
            | &lt;html&gt;
            |   &lt;head&gt;
            |     &lt;meta charset="utf-8"&gt;
            |     &lt;title&gt;HTML Schulung&lt;/title&gt;
            |   &lt;/head&gt;
            |   &lt;body&gt;
            |     &lt;h2&gt;HTML Schulung&lt;/h2&gt;
            |     &lt;p&gt;Allgemeine Regeln der HTML-Programmierung&lt;/p&gt;
            |   &lt;/body&gt;
            | &lt;/html&gt;
    .pikSlide
        h2 Doctypes?