extends ../../layout/presentations

block title
    title Über uns und mich - HTML Schulung

block content
    .pikSlide.centered
        h2 Über uns
        div
            img(src='/img/campus_neu_logo_2012_intl.png')
        div
            a(href='http://www.thecampus.de/',target='_blank') thecampus.de
    .pikSlide
        h2 Produkte
        ul
            li Hersteller-Trainings
            li Individuelle Produkte
                ul
                    li campus weekend
                    li campus fast track
                    li campus my way
                    li campus 4 you
                    li ...
    .pikSlide.centered
        h2 Über mich
        img(src='/img/ich.jpeg')
    .pikSlide
        h2 Vita(min-i)
        ul
            li Michael Alt
            li 41 jahre jung
            li Kellermeister-Sohn
            li Dipl. Informatiker
            li Programmierer
            li Trainer
    .pikSlide
        h2 Portfolio
        ul
            li OOP mit C++, Java, .Net (C#)
            li Dynamische Websites mit ASP.Net und PHP
            li Web-UI mit HTML, CSS, JavaScript
            li Unix/Linux Scripting: Bash, Perl, Python
