doctype 5
html(lang='de')
    head
        meta(charset='utf-8')
        block title
            title HTML Schulung
        link(rel="stylesheet",href="styles.css")
        script(src="/js/jquery.js")
        script(src="main.js")
    body
        include content