doctype 5
html(lang='de')
    head
        meta(charset='utf-8')
        title HTML5 Schulung
        link(rel="stylesheet", href="css/normalize.css")
    body
        header
            h1 HTML5 Schulung
        main
            block main
        footer
            | &copy; Michael Alt (mail@michael-alt.info), 2013
