doctype 5
html#PikSlides(lang='de')
    head
        script(src='/pik7/core/pik7.js')
        meta(charset='utf-8')
        block title
            title HTML Schulung
        link(rel='stylesheet',href='/css/presentations.css')
    body
        block content
