doctype 5
html#PikSlides(lang='de')
    head
        script(src='#{path}pik7/core/pik7.js')
        meta(charset='utf-8')
        block title
            title HTML Schulung
    body
        block content
