extends ../../layout/base

block title
    title Einbindung CSS/JavaScript - HTML Schulung

block main
    section#intro
        .splash
            h2 Einbindung CSS/JavaScript
            p HTML-Elemente für Style-Sheet- und Scriptbereiche
    #presentation.full-width.row
        iframe(src='/pik7/presenter.html',seamless='',data-presentation='09_stylesheets_and_scripts')