extends ../../layout/base

block title
    title Standard-Elemente - HTML Schulung

block main
    section#intro
        .splash
            h2 Standard-Elemente
            p HTML-Elemente einsetzen: Absätze, Überschriften, Listen, Formulare und Tabellen
    #presentation.full-width.row
        iframe(src='/pik7/presenter.html',seamless='',data-presentation='04_elements')