extends ../../layout/base

block main
    section#intro
        .splash
            h2 Geschichte
            p Entwicklung der Auszeichungssprachen
    #presentation.full-width.row
        iframe(src='/pik7/presenter.html',seamless='',data-presentation='02_history')