extends ../layout/base

block main
    section#intro
        .splash.clearing-container
            .logo
                img(src='img/html5-logo.svg')
            .teaser
                h1 Grundlagen der Web-Techniken
                p
                    | Eine Einführung in die Building Blocks der Webseitenerstellung: HTML, CSS und JavaScript.
                a.large.button.radius(href='01_intro/index.html') Los geht's!
    div.row.full-width
        div.large-12.columns
            h2 Inhalte
            dl#content
                dt
                    a(href='01_intro/index.html') Einführung
                dd
                    | Ein paar Worte über mich und eine kleine Demonstration der Themen, über die wir reden.
                dt
                    a(href='02_history/index.html') Geschichte
                dd
                    | Entwicklung der Auszeichungssprachen
                dt
                    a(href='03_rules/index.html') Einführung HTML
                dd
                    | Allgemeine Regeln der HTML-Programmierung
                dt
                    a(href='04_elements/index.html') Standard Elemente
                dd
                    | HTML-Elemente einsetzen: Absätze, Überschriften, Listen, Formulare und Tabellen
                dt
                    a(href='05_pics_and_colors/index.html') Formate
                dd
                    | Bildformate und Farben für das Web
                dt
                    a(href='06_pics_and_text/index.html') Grafiken einbinden
                dd
                    | Grafiken einbinden und von Text umfließen lassen
                dt
                    a(href='07_hyperlinks/index.html') Hyperlinks
                dd
                    | Text und Grafiken als Hyperlink
                dt
                    a(href='08_tables/index.html') Tabellen
                dd
                    | Aufbau von Tabellen und deren Einsatzmöglichkeiten
                dt
                    a(href='09_stylesheets_and_scripts/index.html') Einbindung CSS/JavaScript
                dd
                    | HTML-Elemente für Style-Sheet- und Scriptbereiche
                dt
                    a(href='10_css_intro/index.html') Grundlagen CSS
                dd
                    | Einführung in Cascading Style Sheets
                dt
                    a(href='11_styling/index.html') Layout mit CSS
                dd
                    | Seiten formatieren mit CSS
                dt
                    a(href='12_browsers/index.html') Browser-Unterstützung
                dd
                    | Unterschiede der einzelnen Browser
                dt
                    a(href='13_html5/index.html') HTML5
                dd
                    | Neuerungen in HTML5
                dt
                    a(href='14_legal_foundations/index.html') Rechtsgrundlagen
                dd
                    | Rechtsgrundlagen (Urheberrecht, Impressumspflicht, Datenschutz etc.)
                dt
                    a(href='15_tips_tricks/index.html') Tipps und Tricks
                dd
                    | Hilfreiches und Links
