extends ../layout/base

block main
    div.row.full-width
        div.large-10.columns
            h2 Inhalte
            dl.content
                dt
                    a(href='01_intro/') Einführung
                dd
                    | Ein paar Worte über mich und eine kleine Demonstration der Themen, über die wir reden.
                dt
                    a(href='02_history/') Geschichte
                dd
                    | Entwicklung der Auszeichungssprachen
                dt
                    a(href='03_rules/') Allgemeine Regeln der HTML-Programmierung
                dd
                dt
                    a(href='04_elements/') HTML-Elemente einsetzen: Absätze, Überschriften, Listen, Grafiken, Hyperlinks und Tabellen
                dd
                dt
                    a(href='05_pics_and_colors') Bildformate und Farben für das Web
                dd
                dt
                    a(href='06_pics_and_text') Grafiken einbinden und von Text umfließen lassen
                dd
                dt
                    a(href='07_hyperlinks') Text und Grafiken als Hyperlink
                dd
                dt
                    a(href='08_tables') Aufbau von Tabellen und deren Einsatzmöglichkeiten
                dd
                dt
                    a(href='09_stylesheets_and_scripts') HTML-Elemente für Style-Sheet- und Scriptbereiche
                dd
                dt
                    a(href='10_css_intro') Einführung in Cascading Style Sheets
                dd
                dt
                    a(href='11_styling') Seiten formatieren mit CSS
                dd
                dt
                    a(href='12_browsers') Unterschiede der einzelnen Browser
                dd
                dt
                    a(href='13_html5') Neuerungen in HTML5
                dd
                dt
                    a(href='14_legal_foundations') Rechtsgrundlagen (Urheberrecht, Impressumspflicht, Datenschutz etc.)
                dd
                dt
                    a(href='15_tips_tricks') Tipps und Tricks
                dd
