extends ../../layout/presentations

block title
    title Bildformate und Farben

block content
    #Start.pikSlide
        h2 Bildformate
        ul
            li GIF (ab 2006 lizenzfrei)
                ul
                    li 256 aus 16,7M Farben
                    li 65k*65k Pixel
                    li Animationen
            li PNG
                ul
                    li bessere Kompression als GIF
                    li Echtfarben-Bilder
                    li Alphatransparenz
            li JPG
                ul
                    li verlustbehaftete Komprimierung
                    li Echtfarben
            li SVG
    .pikSlide
        h2 Farben
        ul
            li 16 Standard VGA-Farben&nbsp;
                a(href='http://de.wikipedia.org/wiki/Webfarbe') wikipedia
            li Websichere Farben (216)
            li RGB
            li HSL
            li CMYK